<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Curriculum Alex Naranjo ENGLISH</title>
	<link rel="stylesheet" type="text/css" href="../../css/estilos.css">
    <link rel="icon" href="../../img/icono.jpg">
</head>
<body>
	<header>
		<nav>
            <div class="row">
            <div class="icon">
                <li><a href="../../index.html">🌎</a></li>
            </div>
            <div class="icon2">
                <li><a href="#quiensoy">🧍‍♂️Who I am?</a></li>
				<li><a href="#estudios">👩‍🎓Studies</a></li>
				<li><a href="#experiencia">🧑‍💻Experience</a></li>
                <li><a href="#actividades">Non-Working Activities</a></li>
            </div>
        </div>
		</nav>
	</header>
	<section id="quiensoy" class="color">
		<h1>Who I am?</h1>
		<p class="center">I'm <strong>Alex Naranjo Silva </strong>I am 17 years old and I am a student of SMX2</p>
        <div class="row">
            <div class="column50">
                <p><strong> <u>CONTACT ME</u> </strong></p>
                <p><strong>Email:</strong> alexnaranjosilva4@gmail.com</p>
                <p><strong>Mobile:</strong> 653587876</p>
                <p><strong>Address:</strong> Hospitalet de Llobregat, 08907</p>
            </div>
            <div class="column50">
                <p><strong><U>ABOUT ME</U></strong></p> 
                <P>I consider myself a hard-working person and I always like to meet my proposed goals. My professional goal is to develop professionally in a company in the IT sector.</P>
            </div>
            
        </div>
        <div class="row">
            <div class="column50">
                <p><strong><U>HOBBIES</U></strong></p>
                <p>One of my hobbies in my spare time is playing paddle tennis.</p>
                <p>Another of my hobbies is playing soccer and watching it on TV.</p>
                <p>In my spare time I like to play video games.</p>
            </div>
            <div class="column50">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ndtvLnfPOLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
	</section>

	<section id="estudios">
		<h1>Studies</h1>
        <div class="row">
            <div class="column50">
                <p><strong><u>Degree in Microcomputer Systems and Networks</u> </strong></p>
                <P>2021-Present</P>
                <p><em>Joan XXII Study Center</em></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1130488882936!2d2.1047222757942845!3d41.34989647130466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683639611319!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            
                </div>
            <div class="column50">
                <p><strong><u>Padel Coach Title</u> </strong></p>
                <P>2022-2023</P>
                <p><em>Catalan Padel Federation</em></p>
                <p><strong><u>Compulsory Secondary Education</u> </strong></p>
                <P>2017-2021</P>
                <p><em>Xaloc College</em></p>
                <h2><U>LANGUAGES</U></h2>
                <table>
                    <thead> 
                        <tr> 
                            <th width="200">LANGUAGE</th> 
                            <th width="200">INITIAL</th>
                            <th width="200">INTERMEDIATE</th>
                            <th width="200">ADVANCED</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;"> 
                        <tr style="border:1px solid black">
                            <td>Spanish</td>
                            <td></td> 
                            <td></td>
                            <td>X</td>
                        </tr>
                    <tr>
                      <td>CATALAN</td>  
                      <td></td>
                      <td></td>
                      <td>X</td>
                    </tr>
                    <tr>
                        <td>ENGLISH</td>  
                        <td></td>
                        <td>X</td>
                        <td></td>
                      </tr>
            </table>
            </div>
        </div> 
	</section>

	<section id="experiencia">
		<h1>Work Experience</h1>
        <div class="row">
            <div class="column50">
                <p><strong><U>Microcomputer Systems and Networks Practices</U></strong></p>
                <p>2022-2023</p>
                <p><em>College Xaloc</em></p>
            </div>
            <div class="column50">
                <p></p><p><strong><U>Paddle coach</U></strong></p>
                <p>2021-2022</p>
                <p><em>AE Bellsport</em></p>
            </div>
        </div>
	</section>
    
    <section id="actividades">
        <h1>Non-Working Activities</h1>
        <div class="row">
            <div class="columna4">
                <p><strong> <u>Social Volunteering</u> </strong></p>
                <p>September 2021 - December 2022</p>
                <p><em>The Vineyard Foundation</em></p>
            </div>
            <div class="columna4">
               <img src="../../img/logo1.png" alt="">
            </div>
            <div class="columna4">
                <p><strong><u>Paddle Campus</u></strong></p>
                <p>July 2021</p>
                <p><em>Ae Bellsport</em></p>
            </div>
            <div class="columna4">
                <img width="300px" src="../../img/logo2.png" alt="">
            </div>
        </div>
    </section>
    <div class="row">
        <div class="columna3-1">
            <p>ALEX NARANJO SILVA</p>
            <br><br/>
        </div>
        <div class="columna3-2">
           <P>653587876</P>
        </div>
        <div class="columna3">
            <P>Hospitalet de Llobregat, Barcelona</P>
        </div>
    </div>
</body>
</html>
